@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Varela+Round&display=swap');

body{
    background-color: #f5f4f3;
}

a{
    color:#df814a;
}

.top_bar{
    width: 100%;
    height: 40px;
    background-color:#f3965f;
    border-bottom: 0.25em solid #df814a;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

.logo a{
    font-family: 'Dancing Script', cursive;
    margin-left: 10px;
    font-size: 25px;
    position: relative;
    color: #fff;
    text-decoration: none;
    text-shadow: #df814a 2px 2px 0;
}
.logo a:hover{
    opacity: 0.8;
}

nav {
    position: absolute;
    margin: 10px;
    float: right;
    right: 1px;
}

nav a{
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    
}
nav a:hover{
    background-color:#df814a;
    text-decoration: none;
    color: #fff;
}

.wrapper{
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.column{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

.user_details {
    width: 20%;
}
.user_details img{
    width: 120px;
    border-radius: 50%;
    margin-right: 10px;
}

.main_column{
    width: 77%;
    min-height: 160px;
}

.post_form {
    width: 100%;
}

.post_form textarea{
    width: 81%;
    height: 60px;
    border-radius: 3px;
    margin-right: 5px;
    border: 1px solid #dfdfdf;
    font-size: 14px;
    padding: 5px;
}

textarea:focus{
    outline: 0;
}

.post_form input[type="submit"]{
    width: 11%;
    height: 30px;
    border: none;
    border-radius: 3px;
    background-color: #f3965f;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    text-shadow: #df814a 2px 2px 0;
    font-size: 20px;
    position: absolute;
    outline: 0;
    margin: 0;
    margin-top: 30px;
}

.post_form input[type="submit"]:active{
    padding: 4px;
}

.status_post{
    width: 96%;
    font-size: 15px;
    padding: 0px 5px;
    min-height: 75px;
    cursor: pointer;
}

.post_profile_pics{
    float:left;
    margin-right: 7px;
}

.post_profile_pics img{
    border-radius: 5px;
}

#comment_iframe{
    max-height: 250px;
    width: 100%;
}

#comment_form{
    display: flex;
    margin-bottom: 10px;
}

.comment_section{
    padding: 0 5px 5px 5px;
}

.comment_section img{
    margin: 0 3px 3px 3px;
    border-radius: 3px;
}

#comment_form textarea{
    border: none;
    width: 84%;
    height: 35px;
    border-radius: 5px;
    color: #666;
    font-size: 14px;
    margin: 5px;
}

#comment_form input{
    font-family: 'Dancing Script', cursive;
    border: none;
    background-color: #f3965f;
    width: 10%;
    height: 35px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    margin: 5px;
}

.newsfeedPostOptions{
    padding: 0px;
    text-decoration: none;
    color: #aaa;
    border: none;
}

.newsfeedPostOptions iframe{
    border: 0px;
    height: 17px;
    width: 120px;
}

.comment_like{
    background-color: #fff;
    font-size: 14px;
    padding: 0;
    border: none;
}

.like_value{
    display: inline;
    font-size: 14px;
}

/* add friend button */
.danger{
    background-color: rgb(226, 73, 73);
}
.warning{
    background-color: rgb(237, 132, 41);
}
.default{
    background-color: #bdc3c7;
}
.success{
    background-color: rgb(85, 211, 60);
}
.info{
    background-color: #3498db;
}
.deep_blue{
    background-color: #0043f0;
}

/* post delete button */
.delete_button{
    height: 22px;
    width: 22px;
    float: right;
    border-radius: 3px;
}

/* profile page layout */
.profile_main_column{
    padding-top: 20px;
    width: 78%;
}

/* messages */

.message{
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    color: #fff;
}
.message#blue{
    background-color: #3498db;
    float: right;
    margin-bottom: 5px;
}
.message#green{
    background-color: #2ecc71;
    float: left;
    margin-bottom: 5px;
}

#message_textarea{
    width: 80%;
}

.info{
    height: 50px;
    width: 120px;
    margin: 0;
    position: absolute;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.loaded_messages{
    height: 65%;
    min-height: 300px;
    max-height: 400px;
    overflow: scroll;
    margin-bottom: 10px; 
    padding: 20px;
}

.loaded_conversations{
    max-height: 250px;
    overflow: scroll;
}

#conversations {
    background-color: #fff;
    margin-left: 20px;
    padding: 15px;
}

.user_found_messages{
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.user_found_messages:hover{
    background-color: #aaa;
}

.user_found_messages img{
    width: 30px;
    border-radius: 50%;
    float: left;
}

/* #grey {
    background-color: #aaa;
} */

.resultDisplay {
    display: flex;
    margin-top: 10px;
}
.resultDisplay a{
    height: 60px;
    width: 48%;
    text-decoration: none;
}
.resultDisplay:hover{
    background-color: #dfdfdf;
}
.liveSearchProfilePic img{
    width: 70px;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
}

.tab-contents {
    margin-top: 20px;
}

/* message dropdown */

.dropdown_data_window {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    position: absolute;
    top: 40px;
    right: 10px;
}